.big_container
{
    height:100vh;
    width:100%;
    background-color: rgb(85, 76, 76);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box
{
        height:150px;
        margin: 30px;;
    width:150px;
    border-radius: 15px;
    /* border-radius: 50%; */
    background-color: rgb(117, 250, 29);
}
button
{
    background-color: aquamarine;
    color:black;
    padding:0.6vw 1vw ;
    border-radius: 15px;
}
button:active{
    scale:0.9
}
img{
    height:25vh;
    cursor: pointer;
}
img:hover{
    scale:0.7;
}
